@model IEnumerable<string>

<a class=" btn btn-block btn-secondary"
   asp-action="List"
   asp-controller="Topo"
   asp-route-territory="">Strona główna</a>

@foreach (string territory in Model)
{
    <a class="btn btn-block
       @(territory == ViewBag.SelectedTerritory ? "btn-primary" : "btn-secondary")"
       asp-action="List"
       asp-controller="Topo"
       asp-route-territory="@territory"
       asp-route-topoPage="1">@territory</a>
}