@model IEnumerable<string>

<a class=" btn btn-block btn-secondary"
   asp-action="List"
   asp-controller="Topo"
   asp-route-region="">Strona główna</a>

@foreach (string region in Model)
{
    <a class="btn btn-block
       @(region == ViewBag.SelectedRegion? "btn-primary" : "btn-secondary")"
       asp-action="List"
       asp-controller="Topo"
       asp-route-region="@region"
       asp-route-topoPage="1">@region</a>
}