@model LoginViewModel

@{
    ViewData["Title"] = "Logowanie do aplikacji";
    Layout = "_Layout";
}

<img src="~/images/background.jpg" class="img-fluid" alt="Responsive image" />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="LogIn" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login" class="control-label">Login</label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Hasło</label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zaloguj się" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Powrót do strony głównej</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
