@model TopoListViewModel

@foreach (var p in Model.Topos)
{
    <div>
        <h2>@p.Region</h2>
        <h3>@p.Rock</h3>
    </div>
}

<div page-model="@Model.PagingInfo" page-action="List"></div>


