@model TopoModel

<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/accordion.js"></script>
</head>
<body>
    <div class="accordion-option">
        <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>
    </div>
    <div class="clearfix"></div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card card-outline-primary m-1 p-1">
            <div class="bg-faded p-1" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <div class="card card-outline-primary m-1 p-1">
                        <div class="bg-faded p-1">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                @Model.Sector
                            </a>
                        </div>
                    </div>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <ul class="panel-body">
                    @Model.Rock
                    <div class="list-group">
                        <a asp-action="Routes" class="list-group-item list-group-item-action">@Model.Wall</a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</body>
